.navbar {
  height: 50px;
  background-color: #24252a;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20%;
  color: white;
}

.x {
  display: flex;
  gap: 30px;
  cursor: pointer;
  color: white;
  list-style: none;
  padding: 0;
}
